*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: block;
    height: 200px;
    width: 200px;
    margin: 10% 40% auto;
    border-radius: 5%;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    
}
h2{
    margin-left: 23%;
    padding: 10px;
    color:darkslateblue;
}
.input {
    margin-left: 13%;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
}

.btn{
    padding: 5px;
    margin-left: 40%;
    margin-top: 6%;
    background-color:darkslateblue;
    color: chartreuse;
    border: 2px solid black;
    border-radius: 10px;
}

table{
    user-select: none;
    display: grid;
    margin-left: 33%;
    margin-top: 3%;
    border: 2px solid black;
    width: 333px;
    height: 341px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

th{
    padding: 0;
    width: 111px;
    height: 111px;
    border: 2px solid green;
}

.heading{
    margin-left: 36%;
    padding: 5px;
}

.Navigation{
    margin-top: 10px;
    margin-left: 30%;
    border: 1px solid black;
    width: fit-content;
    background-color: azure;
}
h1{
    display: inline-block;
    padding: 7px;
    border: 0.5px solid green;
}
h3{
    font-size: 28px;
    padding: 10px;
    margin-top: 20px;
}

.again{
    color: white;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    background-color: blue;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-top: 10%;
}
.winner{
    margin-left: 22%;
}
.endgame{
    display: inline-block;
    width: 300px;
    height: 350px;
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 30px;
    border: 2px solid black;

}
.endgame1{
    display: inline-block;
    position: fixed;
    width: 300px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: -50px;
    margin-left: 80px;
    border: 2px solid black;
}